Repository browser-game-team2/browser-game-be, pull requests merged in 2021-07, with the labels that each got.

#66 fix bugs in challengers armies and battle algo advanced refactoring
  battle/battle_package/algorithm.py
  battle/battle_package/request.py
  battle/battle_package/response.py
  battle/views.py
Labels: refactoring

#67 Create app army
  army/__init__.py
  army/admin.py
  army/apps.py
  army/army_package/__init__.py
  army/migrations/__init__.py
  army/models.py
  army/tests.py
  army/urls.py
  army/views.py
  core/settings.py
  core/urls.py
Labels: army, poc

#68 created new app army with army package
  army/__init__.py
  army/admin.py
  army/apps.py
  army/army_package/__init__.py
  army/migrations/__init__.py
  army/models.py
  army/tests.py
  army/urls.py
  army/views.py
  core/settings.py
  core/urls.py
Labels: army, poc

#69 file filled but with empty patterns for now
  army/urls.py
Labels: army, bug

#70 app army with army package and empty routing
  army/urls.py
Labels: army, bug

#73 army class and random army generation to close issue #63
  army/army_package/army.py
  battle/views.py
Labels: army, refactoring

#74 [Replaced] "unities" key with "prices" key (about the troops to send …
  army/army_package/army.py
  battle/views.py
Labels: API, army

#75 troups prices returned in /choose/ API
  army/army_package/army.py
  battle/views.py
Labels: API, army

#80 added planets' list into /choose/ Json returned to FE
  battle/views.py
Labels: API, enhancement

#87 /choosetemp/ and /battletemp/ temporary APIs added
  battle/urls.py
  battle/views.py
  core/settings.py
Labels: API, temp

#88 /choosetemp/ and /battletemp/ added; new post-login redirect URL added
  battle/urls.py
  battle/views.py
  core/settings.py
Labels: API, temp

#90 unit tests for battle algorithm added
  battle/tests.py
Labels: tests

#93 added tests for army package
  .gitignore
  army/tests.py
Labels: army, tests

#96 Fixed issue about Http_request and Http_response ".../battletemp/"
  battle/battle_package/request.py
  battle/views.py
Labels: API, enhancement

#97 battle tests fixed, views refactoring
  battle/tests.py
  battle/views.py
Labels: refactoring, tests

#95 project structure documentation added
  README.md
Labels: documentation

#98 request.body used (raw data received) and documentation added
  README.md
  battle/battle_package/request.py
  battle/tests.py
  battle/views.py
Labels: API, documentation, enhancement

#100 Temp no login required (with temporary token exchange in url)
  army/army_package/army_for_test.py
  battle/urls.py
  battle/views.py
  core/settings.py
Labels: authentication, enhancement

#101 google oauth enhancement with token exchange inside url (temporary solution)
  army/army_package/army_for_test.py
  battle/urls.py
  battle/views.py
  core/settings.py
Labels: authentication, enhancement
